.linkContainer {
	border-bottom: 1px solid var(--border-color);
	#links {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 20px;
		height: 150px;
		background-size: 14px 14px;
		background-image:
			linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);

		p {
			margin-top: 8px;
			color: var(--text-sub-color);
		}
	}

	h1 {
		font-size: 36px;
	}
}

.space {
	border-bottom: 1px solid var(--border-color);
	// background-size: 100%;
	// background-image: repeating-linear-gradient(135deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 6px);
	#spaceConent {
		height: 80px;
		background-color: var(--bg-color);
	}
}
