.friendContainer {
	background-color: var(--bg-sub-panel-color);
	background-size: 100%;
	background-image: repeating-linear-gradient(45deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 30px);
	border-bottom: 1px solid var(--border-color);

	#friends {
		padding: 40px 20px;
		border-left: none;
		border-right: none;

		.friendsList {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.friendsItem {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.friendImg {
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 50%;
			border: var(--avatar-border-color) solid 2px;
		}

		.friendInfo {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.friendName {
			font-size: 1.6rem;
			margin: 0;
		}

		.friendDescription {
			font-size: 1rem;
			color: var(--text-sub-color);
			margin-top: 10px;
		}

		.social {
			display: flex;
			gap: 10px;
			margin-top: 15px;
			a {
				transition: color 0.3s ease-in-out;
			}
		}

		.leftAlign {
			justify-content: flex-start;
		}

		.rightAlign {
			/* justify-content: flex-end; */
			text-align: right;
			flex-direction: row-reverse;
			.social {
				flex-direction: row-reverse;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.friendContainer {
		#friends {
			.friendImg {
				width: 80px;
				height: 80px;
			}

			.friendName {
				font-size: 1.4rem;
			}

			.friendDescription {
				font-size: 1rem;
				margin-top: 4px;
			}
		}
	}
}
