.pinnedFriendsTitle {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);

	background-size: 100%;

	background-image: repeating-linear-gradient(45deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 8px);

	#pinnedTitle {
		padding: 10px;
		h1 {
			font-size: 1.4rem;
			font-weight: 200;
			color: var(--text-sub-color);
			letter-spacing: 0.5em;
			background-color: var(--bg-color);
			display: table;
			margin: 0 auto;
			padding: 0 10px;
		}
	}

	@media (max-width: 768px) {
		#pinnedTitle {
			padding: 8px;
			h1 {
				font-size: 1rem;
				letter-spacing: 0.3em;
			}
		}
	}
}

.pinnedFriends {
	background-color: var(--bg-sub-panel-color);
	background-size: 100%;
	background-image: repeating-linear-gradient(45deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 30px);
	border-bottom: 1px solid var(--border-color);

	#pinFriends {
		padding: 40px 20px;
		border-left: none;
		border-right: none;

		.friendsList {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.friendsItem {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.friendImg {
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 50%;
			border: var(--avatar-border-color) solid 2px;
		}

		.friendInfo {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.friendName {
			font-size: 1.6rem;
			margin: 0;
		}

		.friendDescription {
			font-size: 1rem;
			color: var(--text-sub-color);
			margin-top: 10px;
		}

		.social {
			display: flex;
			gap: 10px;
			margin-top: 15px;

			.socialIcon {
				width: 26px;
				height: 26px;
			}
		}

		.leftAlign {
			justify-content: flex-start;
		}

		.rightAlign {
			text-align: right;
			flex-direction: row-reverse;
			.social {
				flex-direction: row-reverse;
			}
		}
	}

	@media (max-width: 768px) {
		#pinFriends {
			padding: 23px 18px;

			.friendName {
				font-size: 1.2rem;
			}

			.friendDescription {
				font-size: 1rem;
			}

			.social {
				font-size: 1.2rem;

				.socialIcon {
					width: 20px;
					height: 20px;
				}
			}

			.friendImg {
				width: 90px;
				height: 90px;
			}
		}
	}
}

.unpinnedFriendsTitle {
	border-bottom: 1px solid var(--border-color);

	background-size: 100%;

	background-image: repeating-linear-gradient(45deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 8px);

	#unpinnedTitle {
		padding: 10px;
		h1 {
			font-size: 1.4rem;
			font-weight: 200;
			color: var(--text-sub-color);
			letter-spacing: 0.5em;
			background-color: var(--bg-color);
			display: table;
			margin: 0 auto;
			padding: 0 10px;
		}
	}

	@media (max-width: 768px) {
		#unpinnedTitle {
			padding: 8px;
			h1 {
				font-size: 1rem;
				letter-spacing: 0.3em;
			}
		}
	}
}

.unPinnedFriends {
	border-bottom: 1px solid var(--border-color);
	#unPinFriends {
		padding: 20px 0;
	}

	@media (max-width: 768px) {
		#unPinFriends {
			padding: 8px 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.friendContainer {
		#friends {
			.friendImg {
				width: 80px;
				height: 80px;
			}

			.friendName {
				font-size: 1.4rem;
			}

			.friendDescription {
				font-size: 1rem;
				margin-top: 4px;
			}
		}
	}
}
