[
  {
    "name": "Example",
    "image": "https://iph.href.lu/150x150?fg=666666&bg=cccccc",
    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "social": [
      {
        "name": "GitHub",
        "link": "https://github.com/example",
        "icon": {
          "light": "https://file.ichiyo.in/sakura/icons/github-line-light.svg",
          "dark": "https://file.ichiyo.in/sakura/icons/github-line-dark.svg"
        }
      },
      {
        "name": "X",
        "link": "https://x.com/example",
        "icon": {
          "light": "https://file.ichiyo.in/sakura/icons/x-light.svg",
          "dark": "https://file.ichiyo.in/sakura/icons/x-dark.svg"
        }
      }
    ]
  }
]