.rssLink {
	background-size: 100%;

	background-image: repeating-linear-gradient(45deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 8px);
	border-bottom: 1px solid var(--border-color);
	#rssLinkPanel {
		display: flex;
		padding: 8px 24px;
		gap: 5px;

		justify-content: space-between;

		.rssIcon {
			display: flex;
			align-items: center;
			fill: var(--text-color);
		}

		.tagsLink {
			display: flex;
			align-items: center;
			fill: var(--text-color);
		}
	}
}

.blogContainer {
	border-bottom: 1px solid var(--border-color);
	background-color: var(--bg-sub-space-color);

	#post {
		background-color: var(--bg-color);
	}

	.postsList {
		padding: 0;
	}

	.noPost {
		text-align: center;
		padding: 40px 0;
		p {
			color: var(--text-sub-color);
			font-size: 18px;
		}
		p:nth-of-type(2) {
			font-weight: normal;
			font-size: 16px;
		}
	}

	.postLink {
		text-decoration: none;
		color: inherit;
		display: block;
		border-bottom: 1px solid var(--border-color);
		&:last-child {
			border-bottom: none;
		}
	}

	.postCard {
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--bg-sub-text-color);
		}
	}

	.postPanel {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 20px;

		h2 {
			font-size: 32px;
		}

		.postMeta {
			color: var(--text-color);
			display: flex;
			gap: 10px;
			align-items: center;

			flex-wrap: wrap;

			.postDate {
				display: flex;
				align-items: center;
			}

			.tags {
				display: flex;
				gap: 5px;
				color: var(--text-color);
				flex-wrap: wrap;
				align-items: center;

				.tag {
					padding: 0px 5px;
					font-size: 17px;
					color: var(--code-color);
					background-color: var(--code-bg-color);
					font-family: 'Source Code Pro', monospace;
				}
			}
		}
	}
}

.space {
	border-bottom: 1px solid var(--border-color);

	#spaceContent {
		height: 60px;
	}
}
