#projects {
	border-bottom: 1px solid var(--border-color);

	.container {
		padding: 0;
	}

	.intro {
		background-color: var(--bg-sub-space-color);
		padding: 40px;

		p {
			color: var(--text-sub-color);
			font-size: 15px;
		}
	}

	.projectList {
		display: grid;
		position: relative;

		margin: 0;
		padding: 0;

		grid-template-rows: auto;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.project {
		display: grid;
		/* grid-template-columns: 200px 1fr 130px 130px 70px; */
		grid-template-columns: 0.5fr 1fr 0.5fr;
		grid-template-rows: 1fr;
		border-bottom: 1px solid var(--border-color);
		width: 100%;
		max-width: 100%;
		height: 200px;

		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: var(--chose-color);
		}

		/* h3,
    p {
      font-family: "Raleway", sans-serif;
    } */

		h3 {
			font-size: 30px;
			margin-bottom: 8px;
			font-weight: 700;
		}
		p {
			font-size: 16px;
			color: var(--text-sub-color);
			font-weight: 400;
		}
	}
	.project:last-child {
		border-bottom: none;
	}

	.projectList::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-image: repeating-linear-gradient(to right, var(--border-color) -10px, var(--border-color) 10px, transparent 10px, transparent 20px);
		background-position-x: 15px;
		background-position-y: top;
		background-size: 100% 1px;
		background-repeat: repeat-x;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid var(--border-color);
	}

	path {
		width: 100px;
		fill: var(--fill-color);
	}

	.details {
		padding: 0 40px;

		display: flex;
		align-items: self-start;
		justify-content: center;
		flex-direction: column;
		border-right: 1px solid var(--border-color);
	}

	.empty {
		background-size: 100%;

		background-image: repeating-linear-gradient(135deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 20px);
	}
}

@media screen and (max-width: 920px) {
	#projects {
		.project {
			grid-template-columns: 0.5fr 1fr;
		}

		.empty {
			display: none;
		}

		.details {
			border-right: none;
		}
	}
}

@media screen and (max-width: 768px) {
	#projects {
		.project {
			grid-template-columns: 1fr;
		}

		.empty {
			display: none;
		}

		.logo {
			display: none;
		}

		.details {
			border-right: none;
			align-items: center;
			text-align: center;
		}
	}
}
