.main {
	border-bottom: 1px solid var(--border-color);

	#container {
		background-size: 14px 14px;
		background-image:
			linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 70vh;
		text-align: center;

		h1 {
			padding: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			font-family: 'KingHwaOldSong';

			font-weight: 800;
			font-size: 52px;
			line-height: 1.2;
			flex-wrap: wrap;
			gap: 0.3em;

			> span {
				display: inline-block;
				vertical-align: middle;
				line-height: inherit;
				font-size: inherit;
			}
		}

		.br {
			font-size: inherit;
			font-weight: 800;
			color: var(--text-sub-color);
		}
	}

	p {
		color: var(--text-sub-color);
		font-weight: 400;
		font-size: 19px;
		text-align: center;
	}

	@media screen and (max-width: 768px) {
		.content {
			height: 60vh;
			h1 {
				font-size: 33px;
				gap: 0.2em;
			}

			.br {
				font-size: inherit;
			}
		}

		p {
			font-size: 16px;
		}
	}
}
