.postTitle {
	border-bottom: 1px solid var(--border-color);

	#postTop {
		background-color: var(--bg-color);
		.titlePanel {
			background-size: 14px 14px;
			position: relative;
			background-image:
				linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px),
				linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);

			.breadcrumb {
				position: absolute;
				z-index: 1;
				color: var(--text-color);
				padding: 15px;
			}

			.content {
				padding: 40px;

				h1 {
					margin-top: 12px;
					padding: 15px 0;
					font-weight: 800;
					font-size: 48px;
				}

				.tags {
					display: flex;
					gap: 5px;
					padding: 8px 0;
					flex-wrap: wrap;

					.tag {
						padding: 0px 5px;
						font-size: 20px;
						background-color: var(--code-bg-color);
						color: var(--code-color);
						font-family: 'Source Code Pro', monospace;
					}
				}

				.date {
					display: flex;
					padding: 8px 0;
					font-size: 18px;
					color: var(--text-color);
				}
			}
		}
	}
}

.space {
	border-bottom: 1px solid var(--border-color);
	background-color: var(--bg-sub-space-color);
	#spaceContent {
		height: 60px;
	}
}

.postContent {
	max-width: 100%;
	overflow-x: visible;

	border-bottom: 1px solid var(--border-color);
	#postDown {
		padding: 20px 120px;
		.postStyle h1 {
			font-size: 32px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h2 {
			font-size: 28px;
			font-weight: 700;
			margin: 12px 0;
		}
		.postStyle h3 {
			font-size: 24px;
			font-weight: 600;
			margin: 12px 0;
		}
		.postStyle h4 {
			font-size: 20px;
			font-weight: 500;
			margin: 8px 0;
		}
		.postStyle h5 {
			font-size: 16px;
			font-weight: 500;
			margin: 8px 0;
		}
		.postStyle h6 {
			font-size: 14px;
			font-weight: 500;
			margin: 8px 0;
		}
		.postStyle p {
			font-size: 18px;
			margin: 16px 0;
			line-height: 1.7;
		}
		.postStyle ul {
			font-size: 18px;
		}
		.postStyle ol {
			font-size: 18px;
		}

		.postStyle #text {
			color: var(--code-color);
		}

		.postStyle blockquote {
			background: linear-gradient(to top, var(--blockquote-color), var(--blockquote-to-color));
			border-left: 5px solid var(--border-color);
			padding-left: 10px;
			padding: 0.25rem 0 0.25rem 1rem;
			font-size: 18px;

			p {
				color: var(--code-color);
			}
		}

		.postStyle hr {
			margin: 40px 0;
			border: none;
			border-top: 2px solid var(--border-color);
		}

		pre code {
			font-family: 'Source Code Pro', monospace;
			padding: 20px;
			background: var(--code-pre-bg-color);
			color: var(--code-color) !important;
		}

		.postStyle img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		.postStyle table {
			color: var(--text-color);
			background-color: var(--bg-border-color);
			width: 100%;
			border-collapse: collapse;
		}

		.postStyle th,
		.postStyle td {
			border: 1px solid var(--border-color);
			padding: 8px;
			text-align: left;
		}

		.postStyle th {
			background-color: var(--code-bg-color);
		}

		:global(.markdown-alert) {
			padding: 10px;
			margin: 10px 0;

			:global(p) {
				margin: 0;
			}

			:global(.markdown-alert-title) {
				display: flex;
				align-items: center;
				font-weight: bold;
				margin-top: 0;
				gap: 6px;
				:global(svg) {
					width: 20px;
					height: 20px;
					image-rendering: pixelated;
				}
			}
		}

		:global(.markdown-alert-warning) {
			background-color: #fff3cd;
			border-color: #ffeeba;
			color: #856404;
		}

		:global(.markdown-alert-note) {
			background-color: #d1ecf1;
			border-color: #bee5eb;
			color: #0c5460;
		}

		:global(.markdown-alert-tip) {
			background-color: #d4edda;
			border-color: #c3e6cb;
			color: #155724;
		}

		:global(.markdown-alert-important) {
			background-color: #f8d7da;
			border-color: #f5c6cb;
			color: #721c24;
		}

		:global(.markdown-alert-caution) {
			background-color: #eda3a9;
			border-color: #f6b1b8;
			color: #721c24;
		}

		:global(.footnotes) {
			border-top: 1px solid var(--border-color);
			border-left: none;
			border-right: none;

			padding: 15px 0;
			h2 {
				display: none;
			}

			p {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.postTitle {
		#postTop {
			.titlePanel {
				.breadcrumb {
					font-size: 12px;
				}
				.content {
					h1 {
						font-size: 32px;
					}
					.tags {
						.tag {
							font-size: 16px;
						}
					}
					.date {
						font-size: 14px;
					}
				}
			}
		}
	}

	.postContent {
		#postDown {
			padding: 20px 30px;

			.postStyle blockquote {
				margin: 0 10px;
			}
		}
	}
}
