.postTitle {
	border-bottom: 1px solid var(--border-color);

	#postTop {
		background-color: var(--bg-color);
		.titlePanel {
			background-size: 14px 14px;
			background-image:
				linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px),
				linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);

			.breadcrumb {
				color: var(--text-color);
				padding: 15px;
			}

			.content {
				padding: 40px;

				h1 {
					font-weight: 800;
					font-size: 48px;
				}

				.tags {
					display: flex;
					gap: 5px;
					padding: 8px 0;

					.tag {
						padding: 0px 5px;
						font-size: 20px;
						border-radius: 5px;
						background-color: var(--code-bg-color);
						color: var(--code-color);
					}
				}

				.date {
					display: flex;
					padding: 8px 0;
					font-size: 18px;
					color: var(--text-color);
				}
			}
		}
	}
}

.postContent {
	max-width: 100%;
	overflow-x: visible;

	border-bottom: 1px solid var(--border-color);
	#postDown {
		padding: 20px;

		code:not(pre code) {
			background-color: var(--code-bg-color);
			color: var(--code-color);
			padding: 0.2em 0.4em;
			border-radius: 4px;
			font-size: 0.9em;
		}

		.postStyle h1 {
			font-size: 32px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h2 {
			font-size: 28px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h3 {
			font-size: 24px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h4 {
			font-size: 20px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle h5 {
			font-size: 16px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle h6 {
			font-size: 14px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle p {
			font-size: 18px;
			margin: 8px 0;
		}
		.postStyle ul {
			font-size: 18px;
		}
		.postStyle ol {
			font-size: 18px;
		}

		.postStyle #text {
			color: var(--code-color);
		}

		.postStyle blockquote {
			border-left: 5px solid var(--border-color);
			padding-left: 10px;
			font-size: 18px;
		}

		pre {
			background-color: var(--code-pre-bg-color);
			border-radius: 8px;
			padding: 1rem;
			margin: 1rem 0;
			color: var(--code-color) !important;
			overflow-x: auto;

			code {
				font-family: 'Source Code Pro', monospace;
				padding: 3px 6px;

				white-space: pre-wrap;
				word-wrap: break-word;

				border-radius: 8px;
				color: var(--code-color);
				background: transparent !important;
				color: inherit;
				padding: 0 !important;
			}
		}

		.postStyle img {
			max-width: 100%;
		}

		.postStyle table {
			width: 100%;
			border-collapse: collapse;
		}

		.postStyle th,
		.postStyle td {
			border: 1px solid var(--border-color);
			padding: 8px;
			text-align: left;
		}
	}
}
