.postTitle {
	border-bottom: 1px solid var(--border-color);

	#postTop {
		background-color: var(--bg-color);
		.titlePanel {
			background-size: 14px 14px;
			position: relative;
			background-image:
				linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px),
				linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);

			.breadcrumb {
				position: absolute;
				z-index: 1;
				color: var(--text-color);
				padding: 15px;
			}

			.content {
				padding: 40px;

				h1 {
					margin-top: 12px;
					padding: 15px 0;
					font-weight: 800;
					font-size: 48px;
				}

				.tags {
					display: flex;
					gap: 5px;
					padding: 8px 0;

					.tag {
						padding: 0px 5px;
						font-size: 20px;
						border-radius: 5px;
						background-color: var(--code-bg-color);
						color: var(--code-color);
					}
				}

				.date {
					display: flex;
					padding: 8px 0;
					font-size: 18px;
					color: var(--text-color);
				}
			}
		}
	}
}

.space {
	border-bottom: 1px solid var(--border-color);
	background-color: var(--bg-sub-space-color);
	#spaceContent {
		height: 60px;
	}
}

.postContent {
	max-width: 100%;
	overflow-x: visible;

	border-bottom: 1px solid var(--border-color);
	#postDown {
		padding: 20px 120px;
		.postStyle h1 {
			font-size: 32px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h2 {
			font-size: 28px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h3 {
			font-size: 24px;
			font-weight: 800;
			margin: 12px 0;
		}
		.postStyle h4 {
			font-size: 20px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle h5 {
			font-size: 16px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle h6 {
			font-size: 14px;
			font-weight: 800;
			margin: 8px 0;
		}
		.postStyle p {
			font-size: 18px;
			margin: 8px 0;
		}
		.postStyle ul {
			font-size: 18px;
		}
		.postStyle ol {
			font-size: 18px;
		}

		.postStyle #text {
			color: var(--code-color);
		}

		.postStyle blockquote {
			background: linear-gradient(to top, var(--blockquote-color), var(--blockquote-to-color));
			border-left: 5px solid var(--border-color);
			padding-left: 10px;
			padding: 0.25rem 0 0.25rem 1rem;
			font-size: 18px;

			p {
				color: var(--code-color);
			}
		}

		.postStyle hr {
			margin: 40px 0;
			border: none;
			border-top: 2px solid var(--border-color);
		}

		pre code {
			font-family: 'Source Code Pro', monospace;
			padding: 20px;
			background: var(--code-pre-bg-color);
			color: var(--code-color) !important;
		}

		.postStyle img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		.postStyle table {
			color: var(--text-color);
			background-color: var(--bg-border-color);
			width: 100%;
			border-collapse: collapse;
		}

		.postStyle th,
		.postStyle td {
			border: 1px solid var(--border-color);
			padding: 8px;
			text-align: left;
		}

		.postStyle th {
			background-color: var(--code-bg-color);
		}
	}
}

@media screen and (max-width: 768px) {
	.postTitle {
		#postTop {
			.titlePanel {
				.breadcrumb {
					font-size: 12px;
				}
				.content {
					h1 {
						font-size: 32px;
					}
					.tags {
						.tag {
							font-size: 16px;
						}
					}
					.date {
						font-size: 14px;
					}
				}
			}
		}
	}

	.postContent {
		#postDown {
			padding: 20px 30px;
		}
	}
}
