.contentContainer {
	border-bottom: 1px solid var(--border-color);
	#content {
		padding: 60px 100px;
	}

	.contentInner {
		h1 {
			font-size: 40px;
			margin-bottom: 8px;
		}

		.title {
			font-size: 28px;
		}

		p {
			line-height: normal;
			font-size: 18px;
			margin-bottom: 8px;
		}

		.nameInfo {
			display: inline-block;
			h1,
			p {
				display: inline-block;
			}

			h1 {
				margin-right: 10px;
			}

			p {
				font-size: 18px;
			}
		}

		.title {
			margin-top: 40px;
			margin-bottom: 8px;
		}

		.styleFrom {
			color: var(--text-sub-color);
			font-size: 16px;
		}

		.nameIcon {
			display: block;
			padding-bottom: 20px;
			.gravatar {
				width: 120px;
				height: auto;
				border-radius: 12px;
				border: var(--avatar-border-color) solid 3px;
			}
		}
	}
}

.scrollBanner {
	#scrollPanel {
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);

		.bannerBg {
			background-size: 100%;
			background-image: repeating-linear-gradient(-135deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 6px);
		}

		.bannerBg:nth-of-type(even) {
			background-image: repeating-linear-gradient(135deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 6px);
		}

		.bannerText {
			color: var(--text-color);
			padding: 0px;
			margin: 0px;
			font-family: 'Source Code Pro', monospace;
		}
	}
}

.intro {
	#carousel {
		padding: 20px 0px;
		background-color: var(--bg-sub-space-color);
	}
}

.space {
	border-bottom: 1px solid var(--border-color);

	#spaceContent {
		height: 60px;

		background-size: 100%;
		background-image: repeating-linear-gradient(135deg, var(--bg-border-color) 0px, var(--bg-border-color) 1px, transparent 1px, transparent 6px);
	}
}

@media screen and (max-width: 768px) {
	.contentContainer {
		#content {
			padding: 30px 20px;
		}

		.contentInner {
			h1 {
				font-size: 30px;
			}

			.title {
				font-size: 24px;
			}

			p {
				font-size: 16px;
			}

			.title {
				margin-top: 30px;
				margin-bottom: 5px;
			}

			.nameIcon {
				.gravatar {
					border-radius: 12px;
					width: 100px;
					border: var(--avatar-border-color) solid 2px;
				}
			}
		}
	}
}
