@use './color.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
	--animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 0.5rem));
		}
	}
}

@import 'artalk/dist/Artalk.css';

#nprogress {
	position: relative;
	z-index: 9999;
}

* {
	transition:
		background-color 0.5s ease-in-out,
		color 0.5s ease-in-out,
		border-color 0.5s ease-in-out,
		background-image 0.5s ease-in-out,
		fill 0.5s ease-in-out;
}

.anchor-link {
	opacity: 0;
	padding: 0 0.5rem;
	transition: opacity 0.3s ease;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: baseline;
	font-size: inherit;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
	opacity: 1;
	color: var(--text-color);
}

h1:focus .anchor-link,
h2:focus .anchor-link,
h3:focus .anchor-link,
h4:focus .anchor-link,
h5:focus .anchor-link,
h6:focus .anchor-link {
	opacity: 1;
	color: var(--text-color);
}

html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;

	background-color: var(--bg-color);
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: var(--text-color);
}

p {
	margin: 0;
	padding: 0;
	color: var(--text-color);
}

li {
	color: var(--text-color);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Sans', 'Noto Sans CJK KR', sans-serif;
}

.HtmlLogo {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: var(--logo-text-color) !important;
	text-decoration: none !important;
	z-index: 1;
	white-space: nowrap;
}

section {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	box-sizing: border-box;
}

code:not(pre code) {
	font-family: 'Source Code Pro', monospace;
	padding: 0px 4px;
	background-color: var(--code-bg-color);
	white-space: pre-wrap;
	word-wrap: break-word;

	color: var(--code-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}
}

.medium-zoom-overlay {
	z-index: 1000;
	background: var(--bg-color) !important;
}

.medium-zoom-image {
	z-index: 1001;
}

::selection {
	background-color: var(--selection-color);
}

::-webkit-scrollbar,
scrollbar {
	max-width: 10px;
	max-height: 6px;
	background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
	border-radius: 0;
	background-color: var(--scrollbar-thumb-color);
}

@media screen and (max-width: 768px) {
	section {
		border-left: none;
		border-right: none;
	}
}
