@use './color.scss' as *;

// @import url('https://static.zeoseven.com/zsft/189/main/result.css');
// @import url('https://fonts.font.im/css?family=Ubuntu');
// @import url('https://fonts.font.im/css?family=Source+Code+Pro:500');
// @import url('https://static.zeoseven.com/zsft/309/main/result.css');

html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;

	background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: var(--text-color);
}

p {
	margin: 0;
	margin: 0;
	color: var(--text-color);
}

li {
	color: var(--text-color);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', 'Noto Sans CJK KR', sans-serif;
}

.HtmlLogo {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: var(--logo-text-color) !important;
	text-decoration: none !important;
	z-index: 1;
	white-space: nowrap;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	box-sizing: border-box;
}

code {
	font-family: 'Source Code Pro', monospace;
	padding: 3px 6px;
	background-color: var(--code-bg-color);
	white-space: pre-wrap;
	word-wrap: break-word;

	border-radius: 8px;
	color: var(--code-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}
}

::selection {
	background-color: var(--selection-color);
}

::-webkit-scrollbar,
scrollbar {
	width: 10px;
	height: 6px;
	background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
	border-radius: 0;
	background-color: var(--scrollbar-thumb-color);
}

@media screen and (max-width: 768px) {
	section {
		border-left: none;
		border-right: none;
	}
}
