.Error404 {
	border-bottom: 1px solid var(--border-color);
	text-align: center;

	#error {
		display: flex;
		justify-content: center;
		align-items: center;

		flex-direction: column;
		padding: 20px;
		height: 550px;

		background-size: 14px 14px;
		background-image:
			linear-gradient(to right, var(--bg-border-color) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-border-color) 1px, transparent 1px);

		h1 {
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 6px;
		}
	}
}
